/* FULL E CROSS JOIN */

USE SUCOS_VENDAS

SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [TABELA DE CLIENTES]

SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE CLIENTES].BAIRRO 
FROM [TABELA DE VENDEDORES]
INNER JOIN [TABELA DE CLIENTES] ON [TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

SELECT [TABELA DE VENDEDORES].BAIRRO AS [BAIRRO VENDEDOR], [TABELA DE VENDEDORES].[NOME] AS [NOME VENDEDOR], [TABELA DE CLIENTES].BAIRRO AS [BAIRRO CLIENTE], [TABELA DE CLIENTES].[NOME] AS [NOME CLIENTE]
FROM [TABELA DE VENDEDORES] LEFT JOIN [TABELA DE CLIENTES] ON [TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

SELECT [TABELA DE VENDEDORES].BAIRRO AS [BAIRRO VENDEDOR], [TABELA DE VENDEDORES].[NOME] AS [NOME VENDEDOR], [TABELA DE CLIENTES].BAIRRO AS [BAIRRO CLIENTE], [TABELA DE CLIENTES].[NOME] AS [NOME CLIENTE]
FROM [TABELA DE VENDEDORES] RIGHT JOIN [TABELA DE CLIENTES] ON [TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

SELECT [TABELA DE VENDEDORES].BAIRRO AS [BAIRRO VENDEDOR], [TABELA DE VENDEDORES].[NOME] AS [NOME VENDEDOR], [TABELA DE CLIENTES].BAIRRO AS [BAIRRO CLIENTE], [TABELA DE CLIENTES].[NOME] AS [NOME CLIENTE]
FROM [TABELA DE VENDEDORES] FULL JOIN [TABELA DE CLIENTES] ON [TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

SELECT [TABELA DE VENDEDORES].BAIRRO AS [BAIRRO VENDEDOR], [TABELA DE CLIENTES].BAIRRO AS [BAIRRO CLIENTE]
FROM [TABELA DE VENDEDORES] CROSS JOIN [TABELA DE CLIENTES]